{% extends 'base.html' %}
{% load static %}

{% block title %} Shop {% endblock title %}
{% block main %}

<section id="head">
    <h1>WELCOME TO OUR SHOPING SECTION</h1>
</section>

<section id="productsthree" class="section-p1">
    <h2>Our Products</h2>
    <p class="p">New Collections and Merchandise</p>
    <div class="products">
        <div class="pro">
            <a href><a href="{% url 'frieren' %}"><img src="{% static 'img/figure/p1.jpg' %}" alt=""></a></a>
            <div class="proinfo">
                <span>Frieren</span>
                <h5>Solo Frieren Figurine</h5>
                <div class="i">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <div class="price">
                        <h5>N50,000</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="pro">
            <a href=""><a href="{% url 'naruto1' %}"><img src="{% static 'img/figure/p2.jpg' %}" alt=""></a></a>
            <div class="proinfo">
                <span>Naruto, Sasuke, Itachi, Kakashi, Gara</span>
                <h5>Naruto Squad Figurine</h5>
                <div class="i">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <div class="price">
                        <h5>N23,000</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="pro">
            <a href="{% url 'naruto2' %}"><img src="{% static 'img/figure/p3.jpg' %}" alt=""></a>
            <div class="proinfo">
                <span>Naruto and Kakashi</span>
                <h5>Duo Naruto Figurine</h5>
                <div class="i">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <div class="price">
                        <h5>N10,000</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="pro">
            <a href="{% url 'jujutsu1' %}"><img src="{% static 'img/figure/p4.jpg' %}" alt=""></a>
            <div class="proinfo">
                <span>Yuji, Geto, Geto, Yuta</span>
                <h5>Jujutsu Kaisen Figurine</h5>
                <div class="i">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <div class="price">
                        <h5>N16,000</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="pro">
            <a href=""><img src="{% static 'img/figure/p7.jpg' %}" alt=""></a>
            <div class="proinfo">
                <span>Kakashi, Naruto, Itachi, Sasuke</span>
                <h5>Naruto Squad Figurine</h5>
                <div class="i">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <div class="price">
                        <h5>N11,000</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="pro">
            <a href=""><img src="{% static 'img/figure/p17.jpg' %}" alt=""></a>
            <div class="proinfo">
                <span>Obito</span>
                <h5>Solo Naruto Figurine</h5>
                <div class="i">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <div class="price">
                        <h5>N23,000</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="pro">
            <a href=""><img src="{% static 'img/figure/p8.jpg' %}" alt=""></a>
            <div class="proinfo">
                <span>Hashiras</span>
                <h5>Demon Slayer Squad Figurine</h5>
                <div class="i">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <div class="price">
                        <h5>N17,000</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="pro">
            <a href=""><img src="{% static 'img/figure/p9.jpg' %}" alt=""></a>
            <div class="proinfo">
                <span>Yuji, Panda, Sakuna, Gojo & Co.</span>
                <h5>Jujutsu Kaisen Squad Figurine</h5>
                <div class="i">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <div class="price">
                        <h5>N15,000</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="pro">
            <a href=""><img src="{% static 'img/figure/p10.jpg' %}" alt=""></a>
            <div class="proinfo">
                <span>Tanjiro and Nezuko</span>
                <h5>Demon Slayer Delux Figurine</h5>
                <div class="i">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <div class="price">
                        <h5>N12,000</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="pro">
            <a href><img src="{% static 'img/figure/p11.jpg' %}" alt=""></a>
            <div class="proinfo">
                <span>Itachi</span>
                <h5>Naruto Figurine Delux Edition</h5>
                <div class="i">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <div class="price">
                        <h5>N37,000</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="pro">
            <a href><img src="{% static 'img/figure/p19.jpg' %}" alt=""></a>
            <div class="proinfo">
                <span>Gojo</span>
                <h5>Solo Figurine</h5>
                <div class="i">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <div class="price">
                        <h5>N35,000</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="pro">
            <a href=""><img src="{% static 'img/figure/p6.jpg' %}" alt=""></a>
            <div class="proinfo">
                <span>Kakashi</span>
                <h5>Solo Figurine</h5>
                <div class="i">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <div class="price">
                        <h5>N5,000</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="pro">
            <a href=""><img src="{% static 'img/figure/p21.jpg' %}" alt=""></a>
            <div class="proinfo">
                <span>Naruto</span>
                <h5>Solo Figurine</h5>
                <div class="i">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <div class="price">
                        <h5>N30,000</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="pro">
            <a href><img src="{% static 'img/figure/p15.jpg' %}" alt=""></a>
            <div class="proinfo">
                <span>Yuji, Nobara, Megumi</span>
                <h5>Trio Figurine Edition</h5>
                <div class="i">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <div class="price">
                        <h5>N15,000</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="pro">
            <a href=""> <img src="{% static 'img/figure/p16.jpg' %}" alt=""></a>
            <div class="proinfo">
                <span>Itachi</span>
                <h5>Solo Figurine</h5>
                <div class="i">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <div class="price">
                        <h5>N9,000</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="pro">
            <a href=""><img src="{% static 'img/figure/p22.jpg' %}" alt=""></a>
            <div class="proinfo">
                <span>Zenitsu</span>
                <h5>Solo Figurine</h5>
                <div class="i">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <div class="price">
                        <h5>N6,000</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="section-p1">
    <div class="col">
        <a href="#"><img src="{% static 'img/otaku lord logo.png' %}" class="logo1" alt=""></a>
        <h4>Contact</h4>
        <p><strong>Address:</strong> Road D, Block 9, Olorunshogo Estate, Ibadan.</p>
        <p><strong>Phone:</strong> +234 9022728910</p>
        <p><strong>Hours:</strong> 8am to 10pm</p>
        <div class="follow">
            <h4>Follow Us</h4>
            <div class="icons"></div>
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-tiktok"></i>
            <i class="fab fa-youtube"></i>
        </div>
    </div>

    <div class="col">
        <h4>About</h4>
        <a href="#">About Us</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Delivery Info</a>
        <a href="#">Terms and Conditions</a>
        <a href="#">Contact Us</a>
    </div>

    <div class="col">
        <h4>My Account</h4>
        <a href="#">View Cart</a>
        <a href="#">My Wishlist</a>
        <a href="#">Track My Order</a>
        <a href="#">Terms and Conditions</a>
        <a href="#">Help</a>
    </div>

    <div class="col install">
        <h4>Install App</h4>
        <p>From App Store or Google Play:</p>
        <div class="row">
            <img src="{% static 'img/pay/app.jpg' %}" alt="">
            <img src="{% static 'img/pay/play.jpg' %}" alt="">
        </div>
        <p>Secured Payment Gateways:</p>
        <img src="{% static 'img/pay/pay.png' %}" alt="">
    </div>
    
    
    <div class="cpoyright">
        <p>c 2025, Otaku Lord Merchandise.</p>
    </div>
</footer>


{% endblock main %}